.lds-dual-ring {
  display: none;
  width: 80px;
  height: 80px;
  position: absolute;
  top: 50%;
  left: 50%;;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid rgb(34, 33, 33);
  border-color: #ca2626 transparent #ca2626 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
